
.col-sm-5{
    text-align: center;
    background-color: #0870bd;
    height: 100vh;
}
.col-sm-7{
    background-color: #f5f4f4;

}
input[type=text], input[type=password]{
    width: 300px;
    height: 20%;
    border-radius: 8px;
    border-color: #979797;
}

.btn-primary-1{ 
    background-color: #384474;
    margin-top: 15px;
    margin-left: 25px;
    width: 150px;
    border-radius: 8px;
    color:white;

}

.btn-primary{
    margin-top: 15px;
    margin-left: 5px;
    width: 100px;  
    border-radius: 8px;
    
}

.right{
    margin-top: 25%;
    margin-bottom: 10%;
    margin-right: 2% ;
    margin-left: 1%;
    font-weight: 425;
    
}

img{
    margin-top: 45%; ;
}

h1{
    color:#656565;
    margin-left: 25px;
}

h3{
    margin-top: 25%;
    color: white;
}

a{
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
}