<h1> Cursos mais procurados </h1>

<div class="courses">



  <div class="block">
    <p> Curso Completo do Desenvolvedor
      NodeJS e MongoDB </p>
    <div class="img">
      <img
        src="https://img-a.udemycdn.com/course/240x135/934680_158b_2.jpg?FfEZsfEiHoxVvDGeqTAMzUirGiOPNwY67Bm9sNfl4mZCx1QvSktUZeEYN8bDa9ysFVKByNXVCQp37R_u5o8F2tM4DCz3a9ZbvrfPoxpZpi_PS4HWTXmpOuo0hHnM">
    </div>
    <div class="bottom-block">
      <p> Aprenda a criar sites e sistemas web utilizando a plataforma NodeJS e o banco de dados MongoDB </p>
    </div>
    <button class="btn" name="acessar"> Visitar o Curso </button>
  </div>

  <div class="block">
    <p> Curso Completo do Desenvolvedor
      NodeJS e MongoDB </p>
    <div class="img">
      <img
        src="https://img-a.udemycdn.com/course/240x135/934680_158b_2.jpg?FfEZsfEiHoxVvDGeqTAMzUirGiOPNwY67Bm9sNfl4mZCx1QvSktUZeEYN8bDa9ysFVKByNXVCQp37R_u5o8F2tM4DCz3a9ZbvrfPoxpZpi_PS4HWTXmpOuo0hHnM">
    </div>
    <div class="bottom-block">
      <p> Aprenda a criar sites e sistemas web utilizando a plataforma NodeJS e o banco de dados MongoDB </p>
    </div>
    <button class="btn" name="acessar"> Visitar o Curso </button>
  </div>

  <div class="block">
    <p> Curso Completo do Desenvolvedor
      NodeJS e MongoDB </p>
    <div class="img">
      <img
        src="https://img-a.udemycdn.com/course/240x135/934680_158b_2.jpg?FfEZsfEiHoxVvDGeqTAMzUirGiOPNwY67Bm9sNfl4mZCx1QvSktUZeEYN8bDa9ysFVKByNXVCQp37R_u5o8F2tM4DCz3a9ZbvrfPoxpZpi_PS4HWTXmpOuo0hHnM">
    </div>
    <div class="bottom-block">
      <p> Aprenda a criar sites e sistemas web utilizando a plataforma NodeJS e o banco de dados MongoDB </p>
    </div>
    <button class="btn" name="acessar"> Visitar o Curso </button>
  </div>
</div>
