h1 {
  padding-top: 40px;
  text-align: center;
}

.courses {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center
}

@media (max-width: 1400px) {
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

img {
  border-radius: 20px;
  width: 300px;
}

.img {
  align-self: center;
  position: relative;
  top: 30px;
}

.btn {
  position: relative;
  top: 10px;
  width: 383px;
  height: 35px;
  background: #faf7f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

.btn:hover {
  background: rgb(228, 224, 224)
}

.block {
  text-align: center;
  height: 450px;
  width: 410px;
  background-color: #F5F4F4;
  border-radius: 30px;
}

.block h2 {
  padding: 0px 25px;
  font-weight: 450;
  position: relative;
  padding-top: 5px;
  text-align: center;
  font-size: larger;
}

.bottom-block {
  position: relative;
  top: 60px;
  height: 150px;
  width: 410px;
  background-color: #E1EDFC;
  border-radius: 30px;
}

.bottom-block p {
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: 300;
}
