<mat-toolbar>
    <mat-toolbar-row class="nav-bar">
        <button mat-icon-button class="icone" (click)="onClickSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <span>CD </span>
        <span class="example-spacer"></span>
        <button mat-stroked-button class="">
            Login
        </button>
        <button mat-stroked-button class="">
            Register
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="esconder" class="container search-options">
            <div class="">
            <img class="img" mat-card-image src="https://media-public.canva.com/K38cw/MADmdwK38cw/2/s.svg">
            </div>
            <span class="example-spacer"></span>
            <div class="container example-spacer mensagem-inicial">
                <h1><b>Sejam bem-vindos a central de estudos!</b></h1>
                <h5>Escolha seu curso abaixo</h5>
            </div>
            <span class="example-spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!esconder" class="search-options">
        <p>Alo apertei</p>
    </mat-toolbar-row>
</mat-toolbar>