<mat-toolbar>
    <mat-toolbar-row class="nav-bar">
        <div routerLink="/">
            <button mat-icon-button mat-button class="icone" (click)="onClickSearch()">
                <mat-icon class="iconSearch">search</mat-icon>
            </button>
            <span (click)="onClickHide()">
                <img class="imgLogo" src="./assets/logoCentralEstudos.jpeg">
            </span>
        </div>
        <span class="example-spacer"></span>
        <div>
            <div *ngIf="login">
                <button mat-stroked-button routerLink="/login" class="">
                    Login
                </button>
                <button mat-stroked-button routerLink="/register" class="">
                    Register
                </button>
            </div>
            <div *ngIf="!login" class="container">
                <button mat-button [matMenuTriggerFor]="menu">
                    <span class="nameIcon">
                        {{ cliente.NM_USUARIO }}
                    </span>
                    <span weidth="2px"></span>
                    <img mat-card-image class="imgIcon" src="./assets/LogoCheers.jpeg">
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/alterar" (click)="onClickHide()">
                        <mat-icon>settings</mat-icon>
                        Configurações
                    </button>
                    <button mat-menu-item>
                        <mat-icon>history</mat-icon>
                        Histórico
                    </button>
                    <button mat-menu-item (click)="removeToken()">
                        <mat-icon>exit_to_app</mat-icon>
                        Sair
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="esconder && !config" class="search-options">
        <span class="example-spacer"></span>
        <div class="">
            <img class="img" mat-card-image src="https://media-public.canva.com/K38cw/MADmdwK38cw/2/s.svg">
        </div>
        <span class="example-spacer"></span>
        <div class="container example-spacer mensagem-inicial">
            <h1><b>Sejam bem-vindos a central de estudos!</b></h1>
            <h5>Escolha seu curso abaixo</h5>
        </div>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!esconder && !config" class="search-options">
        <div class="vertical-column">
            <h1 class="tituloFiltro">Linguagens</h1>
            <mat-radio-group class="example-radio-group" [(ngModel)]="filtroLinguagem">
                <mat-radio-button class="example-radio-button" [value]="linguagem" *ngFor="let linguagem of linguagens">
                    {{linguagem}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="vertical-column">
            <h1 class="tituloFiltro">Categorias</h1>
            <mat-radio-group class="example-radio-group" [(ngModel)]="filtroCategoria">
                <mat-radio-button class="example-radio-button" [value]="categoria" *ngFor="let categoria of categorias">
                    {{categoria}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="vertical-column">
            <h1 class="tituloFiltro">Sites</h1>
            <mat-radio-group class="example-radio-group" [(ngModel)]="filtroSite">
                <mat-radio-button class="example-radio-button" [value]="site" *ngFor="let site of sites">
                    {{site}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-toolbar-row>
</mat-toolbar>