<!DOCTYPE html>
<html lang="pt-br">

<body>
    <table cellpadding="0" cellspacing="0" width="600" id="m_-6074555730677053558template_container"
        style="border:0;background-color:rgba(225, 237, 252, 1);border:1px solid #e5e5e5;border-radius:3px">
        <tbody>
            <tr>
                <td valign="top">

                    <table cellpadding="0" cellspacing="0" width="100%" id="m_-6074555730677053558template_header"
                        style="border:0;background-color:rgba(8, 112, 189, 1);color:white;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border-radius:3px 3px 0 0">
                        <tbody>
                            <tr>
                                <td id="m_-6074555730677053558header_wrapper" style="padding:36px 48px;display:block">
                                    <h1
                                        style="font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:auto;text-align:center;color:white;background-color:inherit">
                                        Newsletter Central de Estudos</h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td valign="top">

                    <table cellpadding="0" cellspacing="0" width="600" id="m_-6074555730677053558template_body">
                        <tbody>
                            <tr>
                                <td valign="top" id="m_-6074555730677053558body_content"
                                    style="background-color:rgba(225, 237, 252, 1)">

                                    <table cellpadding="20" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding:48px 48px 32px">
                                                    <div id="m_-6074555730677053558body_content_inner"
                                                        style="color:black;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">
                                                        <h1
                                                            style="color:rgba(8, 112, 189, 1);font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left">
                                                            Parabéns, {{name}} !</h1>
                                                        <p style="margin:0 0 16px">&nbsp;</p>
                                                        <p style="margin:0 0 16px">
                                                            Nós temos o prazer de recebê-lo na Newsletter da Central de Estudos!
                                                        </p>

                                                        <p style="margin:0 0 16px"> 
                                                            Como inscrito, você receberá alertas dos últimos cursos adicionados 
                                                            na plataforma que se enquadram nas categorias escolhidas por você!
                                                        </p>
                                                        <p style="margin:0 0 16px">
                                                            Caso tenha alguma dúvida, por favor, entre em contato por este
                                                            e-mail
                                                            <a style="color:rgba(8, 112, 189, 1);font-weight:normal;text-decoration:underline"
                                                                target="_blank">cde.usjt@gmail.com</a>
                                                        </p>

                                                        <p style="margin:0 0 16px;text-align:justify">
                                                            Estamos torcendo por seus estudos! 
                                                        </p>
                                                        
                                                        <p style="margin:0 0 16px">&nbsp;</p>
                                                        <p style="margin:0 0 16px">Time Central de Estudos</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>