<mat-card class="">
    <mat-spinner *ngIf="estaCarregando"></mat-spinner>
    <mat-card-content>
        <h1>Newsletter</h1>
        <section class="example-section" [formGroup]="categorias">
            <h5>Selecione as categorias de seu interesse:</h5>
            <p>
                <mat-checkbox color='primary' formControlName="backend">
                    Backend
                </mat-checkbox>
            </p>
            <p>
                <mat-checkbox color='primary' formControlName="frontend">
                    Frontend
                </mat-checkbox>
            </p>
            <p>
                <mat-checkbox color='primary' formControlName="azure">
                    Azure
                </mat-checkbox>
            </p>
            <p>
                <mat-checkbox color='primary' formControlName="mobile">
                    Mobile
                </mat-checkbox>
            </p>
            <p>
                <mat-checkbox color='primary' formControlName="arduino">
                    Arduino
                </mat-checkbox>
            </p>
        </section>
        <button color="primary" (click)="selecionaCategoria()" mat-raised-button>
            Salvar
          </button>
    </mat-card-content>
</mat-card>