.imgLogo {
  width: 40%;
  height: 35%;
  margin-top: 30%;
}

.col-sm-5 {
  text-align: center;
  background-color: #0870bd;
  height: 110vh;

}

input[type="file"] {
  visibility: hidden;
}

.imagem-preview {
  height: 2rem;
  margin: 1rem 0;
}

.imagem-preview img {
  height: 100%;
}

mat-form-field,
input {
  width: 100%;
}

mat-spinner {
  margin: auto; 
}

.loginButton {
    float: right;
    background-color: #384474;
}

.col-sm-7 {
  background-color: #f5f4f4;

}

input[type=text],
input[type=password],
input[type=date],
input[type=email] {
  width: 300px;
  height: 20%;
  border-radius: 8px;
  border-color: #979797;
}

.btn-primary-1 {
  background-color: #384474;
  margin-top: 15px;
  margin-left: 25px;
  width: 150px;
  border-radius: 8px;
  color: white;

}

.btn-primary {
  margin-top: 15px;
  margin-left: 5px;
  width: 100px;
  border-radius: 8px;

}

.right {
  margin-top: 30px;
  margin-bottom: 10%;
  margin-right: 5%;
  margin-left: 8%;
  font-weight: 425;

}

h1 {
  color: #656565;

}

h3 {
  margin-top: 25%;
  color: white;
}

a {
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
}
