<div class="container-fluid">

    <div class="row">
      <div class="col-sm-5">
        <img src="...">
        <h3> Ora et labora </h3>
      </div>
  
      <div class="col-sm-7">
        <div class="right">
          <h1>Cadastre-se agora mesmo!</h1>
          <br>
          <label for="User">Nome</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Insira seu nome">
          <br>
          <label for="Password">Senha</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Insira sua senha">
          <br>
          <label for="Email">E-mail</label>
          <input type="email" id="Email" class="form-control" placeholder="Insira seu email">
          <br>
          <label for="name">Data de nascimento</label>
          <input type="date" class="form-control" id="dataNascimento" required name="dataNascimento" >
          <br>
          <label for="User">Cargo</label>
          <input type="text" class="form-control" formControlName="cargo" placeholder="Insira seu cargo">
          <a href="">Forgot your password?</a>
          <br>
          <button type="button" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-primary-1">Register</button>
        </div>
      </div>
  </div>